.navbar-linear {
  /* background-color: linear-gradient(to bottom, rgba(167, 167, 167, 0.13), rgba(0, 0, 0, 0.486)); */
  width: 100%;
  z-index: 4;
  margin-top: 0 !important;
  background-color:#F2F2F2 !important;
  transition: background 0.5s;
}

.nav-item {
  font-size: 15px;
  color: #e5e5e5;
}
